
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CustomerInformationManagement</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/ngScripts/favicon.ico">
    <link href="~/ngScripts/styles.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script src="~/ngScripts/runtime.js"></script>
    <script src="~/ngScripts/polyfills.js"></script>
    <script src="~/ngScripts/vendor.js"></script>
    <script src="~/ngScripts/main.js"></script>
</body>
</html>
